@import "@/scss/variables.scss";
@import '@/scss/mixins.scss';

.credit {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;

    @include SmallTablet {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 50%;

        @include SmallTablet {
            width: 100%;
        }

        &__block {
            display: flex;
            flex-direction: column;
            gap: 6px;
            width: 100%;

            span {
                color: $error-500;
                font-size: 14px;
                line-height: 20px;
                user-select: none;
            }
        }

        &__footer {
            display: flex;
            align-items: center;
            gap: 24px;
            flex: 1;
        }
    }
}