@import "@/scss/variables.scss";

.form {
    width: 100%;
    max-width: 520px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__block {
            display: flex;
            flex-direction: column;
            gap: 6px;
            position: relative;

            span {
                color: $error-500;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
