@import "@/scss/variables.scss";

.page {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        align-items: center;
    }

    &__left {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 63.33%, #ffffff 100%);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        img {
            height: 100%;
            object-position: center;
            object-fit: cover;
        }

        .circle {
            position: absolute;
            width: 100%;
            aspect-ratio: 1/1;
            background-color: $grey-50;
            border-radius: 50%;
            top: 25%;
            z-index: -1;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            font-weight: 500;
            font-size: 60px;
            line-height: 72px;
            text-transform: uppercase;
            color: $primary-500;
            font-family: "Placid Armor", serif;
        }

        p {
            color: $grey-500;
        }

        &__buttons {
            display: flex;
            align-items: center;
            gap: 32px;

            button {
                width: max-content;
            }
        }
    }
}