@import "@/scss/variables.scss";

.state {
    padding: 48px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        h4 {
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            color: $grey-700;
            text-align: center;
        }

        p {
            color: $grey-500;
            max-width: 700px;
            width: 100%;
            text-align: center;
        }
    }
}
