@import "@/scss/variables.scss";
@import '@/scss/mixins.scss';

.page {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 120px;

        @include Tablet {
            gap: 80px;
        }

        @include SmallTablet {
            gap: 64px;
        }
    }

    &__product {
        display: grid;
        grid-template-columns: 6fr 6fr;
        gap: 32px;

        @include SmallTablet {
            display: flex;
            flex-direction: column;
        }

        &__left {
            display: flex;
            width: 100%;
            gap: 32px;

            @include AnySize(1150px) {
                flex-direction: column-reverse;
                gap: 0;
            }

            &__images {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 128px;
                min-width: 90px;

                @include AnySize(1150px) {
                    flex-direction: row;
                }

                &__item {
                    width: 100%;
                    aspect-ratio: 1/1;
                    min-width: 78px;
                    cursor: pointer;

                    @include SmallTablet {
                        min-width: 128px;
                    }

                    @include AnySize(600px) {
                        min-width: 96px;
                    }

                    @include Mobile {
                        min-width: 80px;
                    }

                    &__active {
                        border: 2px solid $grey-500;
                    }

                    span {
                        width: 100%;
                        aspect-ratio: 1/1;
                        display: block !important;
                    }

                    img {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            &__banner {
                width: 100%;
                aspect-ratio: 1/1.33;

                @include AnySize(1150px) {
                    flex-direction: column-reverse;
                }

                span {
                    display: block !important;
                    aspect-ratio: 1/1.33;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        &__right {
            width: 100%;
            padding: 0 64px;

            @include Laptop {
                padding: 0 32px;
            }

            @include Tablet {
                padding: 0 16px;
            }

            @include SmallTablet {
                padding: 0;
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                gap: 32px;
            }

            &__head {
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                }

                .available {
                    color: $green-500;
                }

                .out {
                    color: $grey-300;
                }

                h3 {
                    color: $grey-800;
                    font-size: 24px;
                    line-height: 36px;
                }

                &__price {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }

                &__discount {
                    color: $green-500;
                }
            }

            &__sizes {
                display: flex;
                flex-direction: column;
                gap: 24px;

                &__head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;

                    a {
                        font-weight: 500;
                        line-height: 24px;
                        text-decoration-line: underline;
                        text-transform: uppercase;
                        color: $grey-300;
                    }
                }

                &__list {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
                    gap: 8px;

                    li {
                        input[type="radio"] {
                            display: none;

                            &:checked+label {
                                border-color: $primary-500;
                            }

                            &:disabled+label {
                                color: $grey-200;
                            }
                        }

                        label {
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            border: 1px solid $grey-200;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            user-select: none;
                            text-transform: uppercase;
                            color: $grey-500;
                            padding: 4px 12px;
                        }
                    }
                }
            }

            &__checkout {
                display: flex;
                align-items: center;
                gap: 16px;

                a {
                    width: 100%;
                }
            }
        }
    }

    &__reviews {
        display: flex;
        flex-direction: column;
        gap: 64px;

        @include SmallTablet {
            gap: 40px;
        }

        &__rating {
            display: flex;
            gap: 64px;

            @include SmallTablet {
                gap: 32px;
                flex-direction: column;
            }

            &__left {
                span {
                    font-weight: 500;
                    font-size: 64px;
                    line-height: 96px;
                    letter-spacing: -0.025em;
                    text-transform: uppercase;
                    color: $black;
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    &__stars {
                        display: flex;
                        align-items: center;
                        gap: 0;
                    }

                    p {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.025em;
                        text-transform: uppercase;
                        color: $grey-500;
                    }
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;

                &__item {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    width: 100%;

                    &__stars {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        span {
                            text-align: center;
                            width: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: -0.025em;
                            text-transform: uppercase;
                            color: $grey-500;
                        }
                    }

                    p {
                        font-weight: 500;
                        color: $grey-300;
                    }

                    &__fill {
                        max-width: 500px;
                        width: 100%;
                        height: 8px;
                        background-color: $grey-100;

                        div {
                            background-color: $primary-500;
                            height: 8px;
                        }
                    }
                }
            }
        }

        &__comments {
            display: flex;
            flex-direction: column;
            gap: 32px;

            &__list {
                display: flex;
                flex-direction: column;
                gap: 0;
            }
        }
    }
}