@import "@/scss/variables.scss";

.item {
    padding: 0 16px;

    p {
        color: $grey-500;
    }

    &__head {
        display: grid;
        grid-template-columns: 72px 1fr 2fr 1fr 2fr 3fr 1fr;
        padding: 8px 0;

        li {
            padding: 24px 16px;
            display: flex;
            align-items: center;

            &:last-child {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }

        button {
            border: 1px solid $grey-50;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                transition: transform 0.3s ease-in-out;
            }

            .closed {
                transform: rotate(180deg);
            }
        }

        span {
            background-color: $green-100;
            padding: 4px 8px;
            color: $green-500;
        }
    }

    &__main {
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__info,
        &__order {
            border: 1px solid $grey-50;

            &__head {
                display: grid;
                grid-template-columns: 2fr 2fr 2fr 2fr;
                background-color: $grey-50;

                li {
                    padding: 16px;
                    display: flex;
                    align-items: center;

                    p {
                        font-weight: 500;
                        color: $grey-700;
                        text-transform: uppercase;
                    }
                }
            }

            &__body {
                display: grid;
                grid-template-columns: 2fr 2fr 2fr 2fr;
                padding: 8px 0;

                li {
                    padding: 16px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        &__order {
            &__body__items__block {
                display: flex;
                align-items: flex-start;
                gap: 16px;

                &__image {
                    width: 64px;
                    height: 64px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }

        &__total {
            border: 1px solid $grey-50;
            padding: 24px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                }
            }
        }
    }
}
