@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

.footer {
    background-color: $black;

    a,
    p {
        color: $grey-500;
    }

    a {
        transition: all 0.25s ease-in-out;

        &:hover {
            color: $white;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    &__main {
        padding: 32px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px 24px;

        &__info {
            display: flex;
            flex-direction: column;
            gap: 24px;

            h2 {
                font-weight: 500;
                font-size: 24px;
                font-family: "Placid Armor", serif;
                line-height: 29px;
                letter-spacing: -0.08em;
                text-transform: uppercase;
                color: $white;
            }

            &__socials {
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }

        &__col {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h4 {
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                text-transform: uppercase;
                color: $white;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        padding: 16px 0;

        @include Tablet {
            flex-direction: column;
            align-items: flex-start;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 24px;

            @include SmallTablet {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}