@import "@/scss/variables.scss";

.form {
    width: 100%;
    max-width: 520px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: relative;
        
        span {
            color: $error-500;
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__resend {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;

        p {
            color: $grey-500;
        }

        button {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-decoration: underline;
            color: $primary-500;
        }
    }
}
