@import "@/scss/variables.scss";

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 520px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 6px;
        position: relative;

        .error {
            border-color: $error-500;
            box-shadow: none !important;
        }

        span {
            color: $error-500;
            font-size: 14px;
            line-height: 20px;
        }
    }

    button {
        margin-top: 8px;
        padding: 8px;
        display: flex;
        justify-content: center;
        background-color: $primary-500;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: $white;

        &:disabled {
            background-color: $primary-100;
            color: $primary-200;
            cursor: default;
        }
    }

    p {
        text-align: center;
        line-height: 24px;
        color: $grey-500;

        a {
            font-weight: 500;
            line-height: 24px;
            text-decoration: underline;
            color: $primary-500;
        }
    }
}
