@import "@/scss/variables.scss";

.header {
    margin-top: -60px;

    &__wrapper {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
            url("@/assets/img/header.jpg");
        height: 650px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 70px;
    }

    h1 {
        font-size: 76px;
        font-family: "Placid Armor", serif;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -2px;
        text-transform: uppercase;
        color: $grey-50;
        text-align: center;
    }
}
