@import "@/scss/variables.scss";

.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    position: relative;
    padding-bottom: 24px;
    border-bottom: 1px solid $grey-200;

    &:last-child {
        border: none;
    }

    &__image {
        width: 100%;
        height: 320px;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 22px;
        flex: 1;

        &__main {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h4,
            span {
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
            }

            h4 {
                text-transform: uppercase;
                color: $grey-700;
            }

            span {
                color: $green-500;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                color: $grey-700;
            }

            &__quantity {
                display: flex;
                align-items: center;
                gap: 12px;

                &__field {
                    padding: 4px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    border: 1px solid $grey-200;

                    button {
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:disabled {
                            cursor: default;

                            svg {
                                path {
                                    fill: $grey-100;
                                }
                            }
                        }
                    }

                    span {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        text-transform: uppercase;
                        color: $grey-500;
                    }
                }
            }
        }

        &__remove {
            display: flex;
            align-items: center;
            gap: 4px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $grey-400;
            text-transform: uppercase;
            position: absolute;
            bottom: 24px;
            right: 12px;
            user-select: none;
        }
    }
}
