@import "./reset.scss";
@import "./variables.scss";

@font-face {
    font-family: "Placid Armor";
    src: url("PlacidArmor-Medium.woff2") format("woff2"), url("PlacidArmor-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.container {
    max-width: 1602px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

h2 {
    font-weight: 500;
    font-size: 56px;
    line-height: 67px;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: $black;
}
