$grey-25: #fcfcfd;
$grey-50: #f7f7f7;
$grey-75: #f5f5f5;
$grey-100: #e3e3e3;
$grey-200: #c8c8c8;
$grey-300: #a4a4a4;
$grey-400: #818181;
$grey-500: #686868;
$grey-600: #515151;
$grey-700: #434343;
$grey-800: #444a58;
$grey-900: #313131;

$primary-50: #fef7ee;
$primary-100: #fdecd7;
$primary-200: #f8c996;
$primary-300: #f6b87b;
$primary-500: #ed7222;
$primary-600: #de5918;
$primary-700: #b94215;

$error-500: #f04438;

$black: #121212;
$white: #ffffff;

$green-100: #c2e9d1;
$green-500: #12b76a;

$neutral-100: #fbfbfb;

$blue-100: #bcbcff;
$yellow: #ffd66c;
$blue: #82dbf8;
$bg-grey-100: #fafafa;
